---
layout: article
title: Reading List 
key: page-about
---
<ul>
  {% for book in site.data.books %}
    {%  if book.completed != null and book.content != null %}
      {% include book/book-link.html book=book %}
      <hr>
    {% endif %}
  {% endfor %}
</ul>

<p>
  <b>Completed</b>
  (<a href="/archive.html?tag=book">my thoughts</a> on some of these)
</p>
<ul>
  {% for book in site.data.books %}
    {%  if book.completed != null and book.content == null %}
    <li>
      {% include book/book-link.html book=book %}
    </li>
    {% endif %}
  {% endfor %}
</ul>

<p>
  <b>Current</b>
</p>
<ul>
  {% for book in site.data.books %}
    {%  if book.started != null and book.completed == null %}
    <li>
      {% include book/book-link.html book=book %}
    </li>
    {% endif %}
  {% endfor %}
</ul>

<p>
    <b>To-Read</b><span class=""> for <em>accountability</em></span>
</p>
<ul>
  {% for book in site.data.books %}
    {%  if book.started == null %}
    <li>
      {% include book/book-link.html book=book %}
    </li>
    {% endif %}
  {% endfor %}
</ul>